.larger-centered {
    font-size: 24px; /* Adjust the font size as needed */
    text-align: center;
  }
  
.info-box {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 70%;
  border-radius: 10px; /* Rounded corners */
  color: white; /* Text color */
  word-wrap: break-word;
}

.win {
  background-color: #4C979F; /* Background color */
  border: 3px solid darkslategrey; /* Border color */
}

.mac {
  background-color: #934c9f; /* Background color */
  border: 3px solid rgb(79, 47, 64); /* Border color */
}
